/* Aaliyah Camarena */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* For content that needs to be 
hidden but still accessible, 
see https://webaim.org/techniques/css/invisiblecontent/ 
for more information */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }
  
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

:root{
    --yellow: #F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --dk-blue: #499BD2;
    --dk-gray:#222222;
    --gray:#EAEAEA;
    --white:#FFFFFF;
    --black: #000000;
}
#skip {
	position: absolute;
	right: -9999999px;
	top: auto;
}
  
  #skip:focus {
	position: static;
}
body {
	overflow-x: hidden;
	list-style: none;
	background-color:var(--white);
	font-family: "Montserrat", sans-serif;
	color: var(--black);
	line-height: 1.5;
	font-weight: 500;
}
  
a {
	text-decoration: none;
}
  
  
h1, h2, h3 {
	font-family: "Molle", cursive;
}
  
p, h4, small, button, nav, q,form {
	font-family: "Montserrat", sans-serif;
}
  
  
h4 {
	font-size: 18px;
	font-weight: 700;
}

header h1{
	font-size: 50px;
	grid-column: 1/4;
	grid-row: 2/3;
	font-weight: 600;
}
  
header p{
	font-size: 20px;
	margin-bottom: 20px;
	grid-column: 1/4;
	grid-row: 3/4;
	font-weight: 400;
}

#logo {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	justify-content: left;
}
  
  
#menu-toggle input {
	display: none;
}
  
nav {
	margin-bottom: 10px;
  }
  
header {
	background-image: linear-gradient(to bottom, #55bcd5, #ffffff);
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	padding: 30px;
  
}
#intro p {
	text-align: left;
	margin-bottom: 10px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
  
}
  
#intro h2 {
	text-align: left;
	padding-left: 1.5rem;
	font-size: 40px;
}
  
  
#intro img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 15px;
}
  
#menu-toggle label {
	display: flex;
	cursor: pointer;
	padding: 5px;
	background-color: var(--yellow);
	text-transform: uppercase; 
	text-align: center;
}
  
#menu-toggle input:checked + label {
	background-color: var(--dk-gray);
	color: var(--white);
}
  
#menu-toggle ul {
	display: none;
	color: var(--black);
	list-style-type: none;
	background-color: var(--teal);
	text-align: center;
  
}
  
#menu-toggle li a {
	display: block;
	font-size: 10px;
	padding: 10px 10px;
	color: var(--black);
	text-transform: uppercase;
	border-bottom: 1px solid var(--black);
}
  
#menu-toggle input:checked ~ ul {
	display: block;
}
  
#intro picture {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 25px;
}
  
img {
	height: auto;
	display: block;
	max-width: 100%;
}
  
#plan h3 {
	font-size: 30px;
	text-align: left;
}
  
#plan {
	background-color: var(--yellow);
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 60px;
	grid-gap: 10px;
}
  
#plan div section h4 {
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
}
  
#plan div section {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	height: 300px;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: var(--teal);
	border: 2px solid var(--white);
}

#testimonials h3 {
	margin-top: 25px;
	margin-left: 25px;
	text-align: left;
	font-size: 30px;
	margin-bottom: 0px;
}
  
#testimonials section {
	text-align: center;
	margin: 25px;
}
  
#testimonials h4 {
	margin-top: 10px;
	text-transform: uppercase;
}
  
#testimonials q {
	font-style: italic;
}
  
#testimonials img {
	display: block;
	margin: 0 auto;
}
#about {
	background-color: var(--dk-blue);
  }
  #about p, #about h4{
	color: var(--black);
  }
  
#about h3 {
	text-align: left;
	padding: 25px;
	font-size: 30px;
	
}
  
#about section {
	box-sizing: border-box;
	text-align: center;
	width: 50%;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
  
#about div {
	display: flex;
	flex-wrap: wrap;
	padding: 25px;
	padding-left: 25px;
	padding-right: 25px;
	justify-content: space-between;
}
  
#about h4 {
	text-transform: uppercase;
}
  
#about h3 {
	color: var(--black);
	font-size: 25px;
}
  
#about img {
	margin-bottom: 10px;
	width: 90px;
	height: 90px;
}
#contact {
	width: 90%;
	margin: auto;
}
  
#contact h3 {
	font-size: 25px;
	margin-top: 25px;
	text-align: left;
}
  
.form-required {
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	font-family: "Montserrat", sans-serif;
}
  
.required {
	color: var(--purple);
}
  
#contact label {
	display: flex;
	font-size: 25px;
	font-weight: 600;
	align-items: center;
	text-transform: uppercase;
}
  
  
#contact legend {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
  